.fruit__list {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-left: 150px;
}

.fruit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fruit img {
  width: 400px;
  height: 400px;
}

.fruit span {
  width: 200px;
  margin-left: 160px;
  font-size: 50px;
  font-family: "Jua", sans-serif;
  margin-top: 20px;
}

#title {
  width: 300px;
  margin-left: 90px;
  max-lines: 1;
  font-family: "Jua", sans-serif;
  margin-top: 20px;
}
