@import "components/screen-header.css";
@import "components/second-bar.css";
@import "components/user-bar.css";
@import "fruit.css";
@import "vegetable.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.trademark {
  text-align: center;
  width: ;
}

.trademark img {
}
