.vegetable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 220px;
  height: 220px;
}

.vegetable img {
  width: 400px;
  height: 400px;
}

.vegetable span {
  width: 200px;
  margin-left: 160px;
  font-size: 50px;
}
