.user-bar {
  display: flex;
  margin-top: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}

.user-bar span:first-child {
  margin-left: 20px;
}

.user-bar span {
  margin-right: 30px;
}
