.table{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	table-layout: fixed;
}

.bottom-bar {
	background-color: black;
	height: 80px;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	color: white;
}
.textcontent{
	border-bottom: 2px solid rgb(194, 190, 165);
	border-top: 2px solid rgb(194, 190, 165);
	font-size: 50px;
}

.imgcontext{
	border-bottom: 2px solid rgb(194, 190, 165);
	border-top: 2px solid rgb(194, 190, 165);
	vertical-align : middle;
	text-align: center;
}

