.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product img {
  width: 400px;
  height: 400px;
}

.product span {
  width: 200px;
  margin-left: 160px;
  font-size: 50px;
  font-family: "Jua", sans-serif;
  margin-top: 20px;
}

#title {
  width: 300px;
  margin-left: 90px;
  max-lines: 1;
  font-family: "Jua", sans-serif;
  margin-top: 20px;
}
